@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: white !important; /* Forces white BG across themes */
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
